# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/nwjs-sdk-v0.22.3-win-x64.zip
/app/locales/
/app/pnacl/
/app/chromedriver.exe
/app/credits.html
/app/d3dcompiler_47.dll
/app/debug.log
/app/ffmpeg.dll
/app/icudtl.dat
/app/libEGL.dll
/app/libGLESv2.dll
/app/nacl_irt_x86_64.nexe
/app/natives_blob.bin
/app/node.dll
/app/nw.dll
/app/nw.exe
/app/nw_100_percent.pak
/app/nw_200_percent.pak
/app/nw_elf.dll
/app/nwjc.exe
/app/payload.exe
/app/resources.pak
/app/snapshot_blob.bin
